@using CurrieTechnologies.Razor.SweetAlert2
@using Poliview.crm.http.services
@using Poliview.crm.domain
@using Poliview.crm.models

@inject SweetAlertService Swal
@inject IMensagemHttpService mensagemHttpService
@inject IEmpreendimentoHttpService empreendimentoHttpService
@inject IGrupoMidiaHttpService grupoMidiaHttpService
@inject IBlocoHttpService blocoHttpService
@inject IUnidadeHttpService unidadeHttpService
@inject NavigationManager nav

@page "/mensagemeditar/{id:int}"

<div class="content-header" width="700px" >
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cadastro de mensagens</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Cadastro Mensagem</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal">
                            <div class="form-group row">                                
                                <label for="codigo" class="col-sm-2 col-form-label">Código</label>
                                <input type="text" class="form-control col-sm-10" id="codigo" placeholder="código" readonly @bind-value="@mensagem.id">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="descricao">Descrição</label>
                                <input type="text" class="form-control col-sm-10" id="descricao" placeholder="Descrição da mensagem" @bind-value="@mensagem.descricao">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="msg">Mensagem</label>
                                <textarea class="form-control col-sm-10" rows="20" id="msg" placeholder="mensagem" @bind="@mensagem.mensagem"></textarea>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" >Grupo Mídia</label>
                                <select value="@mensagem.idgrupomidia" class="form-control col-sm-10" @onchange="GrupoMidiaChanged">
                                    @foreach (Poliview.crm.domain.GrupoMidia grupo in grupos)
                                    {
                                        <option value="@grupo.id">@grupo.descricao</option>
                                    }
                                </select>
                            </div>

                             <div class="form-check row">
                                <div class="offset-sm-2 col-sm-10">
                                    <input type="checkbox" class="form-check-input" id="chkvariosemprds" checked="@Check1" @bind-value="@Check1">
                                    <label class="col-sm-10 form-check-label" style="margin-bottom: 10px" for="chkmenufiquepordentro">Selecionar vários empreendimentos </label>
                                </div>
                            </div>

                            @if (!Check1)
                            {
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" >Empreendimento</label>
                                <select value="@mensagem.idempreendimento" class="form-control col-sm-10" @onchange="EmpreendimentoChanged">
                                    <option value="0">** Todos **</option>
                                    @foreach (Empreendimento emp in empreendimentos)
                                    {
                                        <option value="@emp.id">@emp.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" >Bloco</label>
                                <select class="form-control col-sm-10" value="@mensagem.idbloco" @onchange="BlocoChanged">
                                    <option value="0">** Todos **</option>
                                    @foreach (Bloco blo in blocos)
                                    {
                                        <option value="@blo.id">@blo.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" >Unidade</label>
                                <select class="form-control col-sm-10" value="@mensagem.idunidade" @onchange="UnidadeChanged">
                                   <option value="0">** Todos **</option>
                                    @foreach (Unidade uni in unidades)
                                    {
                                        <option value="@uni.id">@uni.nome</option>
                                    }
                                </select>
                            </div>                                
                            }
                            else
                            {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" >Empreendimentos</label>
                                    <div class="col-sm-10" >
                                        <CheckBoxList Data="@empreendimentos" TextField="@((item)=>item.nome)" ValueField="@((item)=>item.id)" SelectedValues="@SelectedIds" />
                                    </div>                                   
                                </div>  
                            }


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"  for="datainicial">data inicial</label>
                                <input type="date" class="form-control col-sm-4" id="datainicial" placeholder="data inicial" @bind-value="@mensagem.datainicial">
                                <label class="col-sm-2 col-form-label" for="datafinal">data Final</label>
                                <input type="date" class="form-control col-sm-4" id="datafinal" placeholder="data final" @bind-value="@mensagem.datafinal">
                            </div>

                            <div class="form-check row">
                                <div class="offset-sm-2 col-sm-4">
                                    <input type="checkbox" class="form-check-input" id="chkmenufiquepordentro" checked="@Check2" @bind-value="@Check2">
                                    <label class="col-sm-10 form-check-label" for="chkmenufiquepordentro">Aparecer no menu FIQUE POR DENTRO </label>
                                </div>
                            </div>                        
                            
                            @if (Check2)
                            {
                                <div class="form-check row">
                                    <div class="offset-sm-2 col-sm-4">
                                    <label class="col-sm-4 col-form-label" for="datainicialfiquepordentro">data Inicial</label>
                                    <input type="date" class="form-control col-sm-8" id="datainicialfiquepordentro" placeholder="data inicial fique por dentro" @bind-value="@mensagem.datainicialfiquepordentro">
                                    <label class="col-sm-4 col-form-label" for="datafinalfiquepordentro">data Final</label>
                                    <input type="date" class="form-control col-sm-8" id="datafinalfiquepordentro" placeholder="data final fique por dentro" @bind-value="@mensagem.datafinalfiquepordentro">
                                    </div>
                                </div>
                            }
                        </form>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-warning" @onclick="voltar">Voltar</button>
                        <button type="button" class="btn btn-primary" @onclick="salvar">Salvar</button>
                        <button type="button" class="btn btn-secondary" @onclick="visualizar">Visualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public int id { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    private Poliview.crm.domain.Mensagem? mensagem { get; set; }
    private List<Empreendimento>? empreendimentos { get; set; }
    private List<Bloco>? blocos { get; set; }
    private List<Unidade>? unidades { get; set; }
    private ListarEmpreendimentosResposta? respostaempreendimentos { get; set; }
    private List<Poliview.crm.domain.GrupoMidia>? grupos { get; set; }
    private bool Check1 { get; set; } 
    private bool Check2 { get; set; } 
    protected List<string> SelectedIds = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        grupos = await grupoMidiaHttpService.ListAll();
        empreendimentos = await empreendimentoHttpService.Listar();   

        if (id > 0)
        {
            mensagem = await mensagemHttpService.GetMensagemPorId(id);
            Check1 = (mensagem.variosempreendimentos == 1);
            Check2 = (mensagem.fiquepordentro == 1);
            blocos = await blocoHttpService.Listar(mensagem.idempreendimento);   
            unidades = await unidadeHttpService.Listar(mensagem.idempreendimento, mensagem.idbloco);
            var emprds = mensagem.empreendimentos.Split(",");

            foreach (var item in emprds)
            {
                SelectedIds.Add(item);
            }
        }        
        else
        {
            mensagem = new Poliview.crm.domain.Mensagem();    
            blocos = new List<Bloco>();
            unidades = new List<Unidade>();
            mensagem.datainicial = DateTime.Now;
            mensagem.datafinal = DateTime.Now;
            mensagem.datainicialfiquepordentro = DateTime.Now;
            mensagem.datafinalfiquepordentro = DateTime.Now;
        }
    }

    protected async Task salvar()
    {
        try
        {
            mensagem.fiquepordentro = Check2 ? 1 : 0;
            mensagem.variosempreendimentos = Check1 ? 1 : 0;

            mensagem.datainicial = Convert.ToDateTime(mensagem.datainicial.ToString("dd/MM/yyyy 00:00:00"));
            mensagem.datafinal = Convert.ToDateTime(mensagem.datafinal.ToString("dd/MM/yyyy 23:59:59"));

            mensagem.datainicialfiquepordentro = Convert.ToDateTime(mensagem.datainicialfiquepordentro.ToString("dd/MM/yyyy 00:00:00"));
            mensagem.datafinalfiquepordentro = Convert.ToDateTime(mensagem.datafinalfiquepordentro.ToString("dd/MM/yyyy 23:59:59"));

            if (mensagem.variosempreendimentos == 1)
            {
                mensagem.empreendimentos = "";
                foreach (var item in SelectedIds)
                {
                    if (mensagem.empreendimentos == "")
                        mensagem.empreendimentos += item.ToString();
                    else
                        mensagem.empreendimentos += "," + item.ToString();
                }
            }
            else
            {
                mensagem.empreendimentos = "";
            }

            if (id > 0)
            {
                Console.WriteLine("salvar alteração");
                Console.WriteLine($"grupo midia = {mensagem.idgrupomidia}");
                // alteração
                await mensagemHttpService.Update(mensagem);                
                Snackbar.Add("Registro alterado com sucesso!", MudBlazor.Severity.Success);
            }
            else
            {
                Console.WriteLine("salvar inclusão");
                await mensagemHttpService.Create(mensagem);                
                Snackbar.Add("Registro incluido com sucesso!", MudBlazor.Severity.Success);                
            }
            voltar();

        }
        catch (Exception ex)
        {            
            Snackbar.Add(ex.Message, MudBlazor.Severity.Error);
        }

    }

    void voltar()
    {
        nav.NavigateTo("mensagem");
    }

    async void GrupoMidiaChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            mensagem.idgrupomidia = int.Parse(e.Value.ToString());
            StateHasChanged();
        }
    }

    async void EmpreendimentoChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            mensagem.idempreendimento = int.Parse(e.Value.ToString());
            mensagem.idbloco = 0;
            mensagem.idunidade = 0;
            blocos = await blocoHttpService.Listar(mensagem.idempreendimento);
            StateHasChanged();
        }
    }
    async void BlocoChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {            
            mensagem.idbloco = int.Parse(e.Value.ToString());
            mensagem.idunidade = 0;
            unidades = await unidadeHttpService.Listar(mensagem.idempreendimento, mensagem.idbloco);
            StateHasChanged();
        }
    }

    void UnidadeChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {            
            mensagem.idunidade = int.Parse(e.Value.ToString());
            StateHasChanged();
        }
    }

    void TipoMensagemOnChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            mensagem.tipomensagem = int.Parse(e.Value.ToString());    
            StateHasChanged();
        }
    }

    void FiquepordentroChange(ChangeEventArgs e)
    {
        mensagem.fiquepordentro = int.Parse(e.Value.ToString());
        StateHasChanged();
    }

    void toastSweetAlert(string mensagem, string titulo = "",string icone = "success")
    {
        var showAlertOptions = new SweetAlertOptions();
        showAlertOptions.Toast = true;
        showAlertOptions.Position = "top";
        showAlertOptions.Timer = 3000;
        showAlertOptions.TimerProgressBar = true;
        showAlertOptions.AllowEscapeKey = true;
        showAlertOptions.Color = "green";

        var Toast = Swal.Mixin(showAlertOptions);

        Toast.FireAsync(titulo, mensagem, icone);

    }

     protected async Task visualizar()
    {
        var settings = new SweetAlertOptions();
        settings.Width = "1280px";
        settings.HeightAuto = true;
        settings.Backdrop = true;
        settings.Html = mensagem.mensagem;
        await Swal.FireAsync(settings);
    }


}

    

