@using CurrieTechnologies.Razor.SweetAlert2
@using Poliview.crm.http.services
@using Poliview.crm.domain

@inject SweetAlertService Swal
@inject IModalService modal
@inject IMensagemHttpService MensagemHttpService
@inject NavigationManager nav

@page "/mensagem"

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cadastro de mensagens</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Cadastro Mensagem</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <SpinLoader IsLoading="IsLoading">
                        <LoadingTemplate>
                            <div class="modal-overlay">
                                <Pulse Center="true" />
                            </div>
                        </LoadingTemplate>
                        <ContentTemplate>
                            <div class="card-header">
                                <button type="button" class="btn btn-success" tooltip="Incluir"
                                    @onclick="@(() => Incluir())">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <table id="cadastro" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Descrição</th>
                                            <th>Empreendimento</th>
                                            <th>bloco</th>
                                            <th>Unidade</th>
                                            <th>ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var registro in registros)
                                        {
                                            <tr>
                                                <td>@registro.id</td>
                                                <td>@registro.descricao</td>
                                                <td>@registro.empreendimento</td>
                                                <td>@registro.bloco</td>
                                                <td>@registro.unidade</td>
                                                <td width="115px">
                                                    <button type="button" class="btn btn-warning" tootip="Alterar"
                                                        @onclick="@(() => Alterar(@registro.id))">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" toottipo="Excluir"
                                                        @onclick="@(() => Excluir(@registro.id, @registro.descricao))">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </ContentTemplate>
                    </SpinLoader>

                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}

@code {
    [Inject] ISnackbar Snackbar { get; set; }
    public Boolean IsLoading = false;

    private UsuarioLogin userInfo = new UsuarioLogin();
    private List<Poliview.crm.domain.Mensagem> registros = new List<Poliview.crm.domain.Mensagem>();

    private async Task Validar()
    {
        // CurrieTechnologies.Razor.SweetAlert2.SweetAlertOptions
    }

    protected override async Task OnInitializedAsync()
    {
        // await Validar();
        this.IsLoading = true;
        registros = await MensagemHttpService.ListAll();
        this.IsLoading = false;
    }

    void Incluir()
    {
        nav.NavigateTo("mensagemeditar/0");
    }

    void Alterar(int id)
    {
        nav.NavigateTo($"mensagemeditar/{id}");
    }

    async Task Excluir(int id, string descricao)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Confirma exclusão do registro?",
            Text = descricao,
            Icon = SweetAlertIcon.Success,
            ShowCancelButton = true,
            ConfirmButtonText = "Sim!",
            CancelButtonText = "Não"
        });

        if (!string.IsNullOrEmpty(result.Value))
        {
            this.IsLoading = true;
            await MensagemHttpService.Delete(id);
            this.IsLoading = false;

            Snackbar.Add("o registro foi excluído!", MudBlazor.Severity.Success);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {
            Snackbar.Add("O registro NÃO foi excluído!", MudBlazor.Severity.Warning);
        }
    }
}
