@using Blazored.Toast
@using Blazored.Toast.Services
@using CurrieTechnologies.Razor.SweetAlert2
@using Poliview.crm.http.services
@using Poliview.crm.domain

@inject SweetAlertService Swal
@inject IModalService modal
@inject IToastService toastService
@inject ITipoUnidadeHttpService TipoUnidadeHttpService
@inject NavigationManager nav

@page "/parametrotipounidade"

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Tipo Unidade</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Tipo Unidade</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <SpinLoader IsLoading="IsLoading">
                        <LoadingTemplate>
                            <div class="modal-overlay">
                                <Pulse Center="true" />
                            </div>
                        </LoadingTemplate>
                        <ContentTemplate>
                            <div class="card-body">
                                <table id="cadastro" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Descrição</th>
                                            <th>Mostrar Relatórios</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var registro in registros)
                                        {
                                            <tr>
                                                <td>@registro.id</td>
                                                <td>@registro.descricao</td>
                                                <td align="center">@formataMostrarRelatorio(registro.espacocliente)</td>
                                                <td width="115px">
                                                    <button type="button" class="btn btn-warning" tootip="Alterar" @onclick="@(() => Alterar(@registro.id))">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </ContentTemplate>
                    </SpinLoader>

                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}

@code {
    public Boolean IsLoading = false;

    private UsuarioLogin userInfo = new UsuarioLogin();
    private List<TipoUnidade> registros = new List<TipoUnidade>();

    protected override async Task OnInitializedAsync()
    {
        // await Validar();
        this.IsLoading = true;
        registros = await TipoUnidadeHttpService.Listar();
        this.IsLoading = false;
    }

    void Alterar(int id)
    {
        nav.NavigateTo($"parametrotipounidadeeditar/{id}");
    }

    private string formataMostrarRelatorio(int mostrar)
    {
        if (mostrar == 0) return "Não"; else return "Sim";
    }


}
