@inherits MainLayout;

@page "/relatoriomensagem"
@using Poliview.crm.espacocliente.Shared.Components
@using Poliview.crm.http.services
@using Poliview.crm.domain
@using Poliview.crm.models
@using OfficeOpenXml;
@using OfficeOpenXml.Style;
@using System.IO;

@inject IMensagemHttpService mensagemHttpService
@inject IEmpreendimentoHttpService empreendimentoHttpService
@inject IBlocoHttpService blocoHttpService
@inject IUnidadeHttpService unidadeHttpService
@inject NavigationManager nav
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<LoadingMessage loading="@isloading"></LoadingMessage>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Relatório de ciência de mensagem</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Relatório de ciência de mensagem</li>
                </ol>
            </div>
        </div>
    </div>
</div>

@* https://mudblazor.com/components/select#custom-converter *@

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal">
                                                      
                            <div class="form-group row">
                                <MudSelect T="string" 
                                    Label="Mensagens" 
                                    MultiSelection="true" 
                                    SelectAll="true" 
                                    SelectAllText="** Todos **"
                                    Margin="Margin.Dense"
                                    @bind-Value="valorMensagens" 
                                    @bind-SelectedValues="mensagensSelecionadas" 
                                    Variant="MudBlazor.Variant.Outlined">
                                    @foreach (Poliview.crm.domain.Mensagem msg in mensagens)
                                    {
                                        <MudSelectItem T="string" Value="@msg.id.ToString()">@msg.descricao</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>

                            <div class="form-group row">
                                <MudSelect T="string" Label="Empreendimento"
                                    MultiSelection="true"
                                    Variant="MudBlazor.Variant.Outlined"
                                    Margin="Margin.Dense"
                                    ValueChanged="Changed"
                                    @bind-SelectedValues="empreendimentosSelecionados">
                                    @foreach (Empreendimento emp in empreendimentos)
                                    {
                                        <MudSelectItem T="string" Value="@emp.id.ToString()" onselect="selected">@emp.nome</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>

                            <div class="form-group row">
                                <MudSelect T="int"
                                           Label="Bloco"
                                           Variant="MudBlazor.Variant.Outlined"
                                           Margin="Margin.Dense"
                                           ValueChanged="BlocoChanged">
                                    <MudSelectItem Value=0>** Todos **</MudSelectItem>
                                    @foreach (Bloco blo in blocos)
                                    {
                                        <MudSelectItem T="int" Value="@blo.id">@blo.nome</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                            <div class="form-group row">
                                <MudSelect T="int" Label="Unidade" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" @bind-Value="@idunidade" @onchange="UnidadeChanged">
                                    <MudSelectItem Value=0>** Todos **</MudSelectItem>
                                    @foreach (Unidade uni in unidades)
                                    {
                                        <MudSelectItem Value="@uni.id">@uni.nome</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>

                            <div class="form-group row">
                                <MudSelect T="int" Label="Origem" class="form-control col-sm-10" Margin="Margin.Dense" Variant="MudBlazor.Variant.Outlined">
                                    <MudSelectItem Value=0>** Todos **</MudSelectItem>
                                    <MudSelectItem Value=1>Portal</MudSelectItem>
                                    <MudSelectItem Value=2>APP</MudSelectItem>
                                </MudSelect>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" @onclick="ExportarExcel">Exportar Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Inject] ISnackbar Snackbar { get; set; }
    private DateTime datainicial { get; set; } = new DateTime(1900, 1, 1, 0, 0, 0);
    private DateTime datafinal { get; set; } = new DateTime(2100, 12, 31, 23, 59, 59);
    private int idempreendimento { get; set; } 
    private int idbloco { get; set; }
    private int idunidade { get; set; }
    private int idorigem { get; set; }
    private int idmensagem { get; set; }
    private string valorMensagens { get; set; } = "Nenhuma mensagem selecionada";
    private IEnumerable<string> mensagensSelecionadas { get; set; } = new HashSet<string>() { };
    private string valorEmpreendimentos { get; set; } = "Nenhum empreendimento selecionado";
    private IEnumerable<string> empreendimentosSelecionados { get; set; } = new HashSet<string>() { };
    private bool multiselectionTextChoice = true;

    private List<Empreendimento>? empreendimentos { get; set; }
    private List<Bloco>? blocos { get; set; }
    private List<Unidade>? unidades { get; set; }
    private List<Poliview.crm.domain.Mensagem>? mensagens { get; set; }
    public RetornoRelatorio? relatorio { get; set; }

    private Empreendimento? selectedEmpreendimento { get; set; }

    private bool isloading { get; set; }

    string ButtonText = "Exportar XLS";

    protected override async Task OnInitializedAsync()
    {
        isloading = false;

        empreendimentos = await empreendimentoHttpService.ListarParaRelatorios();
        blocos = new List<Bloco>();
        unidades = new List<Unidade>();
        mensagens = await mensagemHttpService.ListAll();
        datainicial = DateTime.Now;
        datafinal = DateTime.Now;
        relatorio = new RetornoRelatorio();
    }

    async void EmpreendimentoChanged(ChangeEventArgs e)
    {        
        if (e != null)
        {
            this.idempreendimento = int.Parse(e.Value.ToString());
            this.idbloco = 0;
            this.idunidade = 0;
            blocos = await blocoHttpService.Listar(this.idempreendimento);
            StateHasChanged();
        }
    }
    async void BlocoChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {            
            this.idbloco = int.Parse(e.Value.ToString());
            this.idunidade = 0;
            unidades = await unidadeHttpService.ListarParaRelatorios(this.idempreendimento, this.idbloco);
            StateHasChanged();
        }
    }

    void UnidadeChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {            
            this.idunidade = int.Parse(e.Value.ToString());
            StateHasChanged();
        }
    }

    protected void salvar()
    {
        voltar();
    }

    void voltar()
    {
        nav.NavigateTo("");
    }

    private async Task ExportarExcel()
    {                
        // await JSRuntime.InvokeAsync<object>("exportTableToExcel", "RelatorioMensagens.xlsx");
        try
        {
            isloading = true;
            var obj = new RelatorioCienciaMensagemRequisicao();
            obj.idmensagemList = string.Join(", ", mensagensSelecionadas.Select(x => x));
            obj.idorigem = this.idorigem;
            obj.datainicial = this.datainicial;
            obj.datafinal = this.datafinal;
            obj.idempreendimentoList = string.Join(", ", empreendimentosSelecionados.Select(x => x));
            obj.idbloco = this.idbloco;
            obj.idunidade = this.idunidade;

            this.relatorio = await mensagemHttpService.RelatorioCienciaMensagem(obj);
            // isloading = false;

            while (true)
            {
                try
                {
                    var statusrel = await mensagemHttpService.StatusRelatorio(this.relatorio.nomeArquivo);
                    if (statusrel.concluido == 1)
                    {
                        if (this.relatorio.urlDownload != null)
                        {
                            //var uri = nav.ToAbsoluteUri(this.relatorio.urlDownload).AbsolutePath;
                            nav.NavigateTo(this.relatorio.urlDownload, forceLoad: true);
                        }
                        isloading = false;

                        Snackbar.Add("Relatório gerado com sucesso!", MudBlazor.Severity.Success);

                        break;
                    }
                    Thread.Sleep(10000);
                }
                catch (Exception ex)
                {
                    isloading = false;
                    Snackbar.Add(ex.Message, MudBlazor.Severity.Error);
                    break;
                }
            }            
        }
        catch (Exception ex)
        {
            isloading = false;
            Snackbar.Add(ex.Message, MudBlazor.Severity.Error);
        }
        finally
        {
            isloading = false;
        }

    }


    private void OnValueChanged(Empreendimento selected)
    {
        selectedEmpreendimento = selected;
        // Do other stuff
    }

    private async Task OnEmpreendimentosChanged(HashSet<string> selectedValues)
    {
        empreendimentosSelecionados = selectedValues;

        // Verifica se um único empreendimento foi selecionado
        if (selectedValues.Count == 1)
        {
            var selectedEmpreendimentoId = selectedValues.First();

            this.idempreendimento = int.Parse(selectedEmpreendimentoId);
            this.idbloco = 0;
            this.idunidade = 0;
            blocos = await blocoHttpService.Listar(this.idempreendimento);
            StateHasChanged();

            // Carregar blocos para o empreendimento selecionado
            // CarregarBlocos(selectedEmpreendimentoId);
        }
        else
        {
            // Lógica para outros casos, se necessário
        }
    }

    private async void Changed(string x)
    {
        valorEmpreendimentos = x;
        var lista = x.Split(",");
        blocos = [];
        if (lista.Count() == 1)
        {
            this.idempreendimento = int.Parse(lista[0]);
            this.idbloco = 0;
            this.idunidade = 0;
            blocos = await blocoHttpService.Listar(this.idempreendimento);
            StateHasChanged();
        }
    }

    private async void BlocoChanged(int idbloco)
    {
        this.idbloco = idbloco;
        this.idunidade = 0;
        unidades = await unidadeHttpService.ListarParaRelatorios(this.idempreendimento, this.idbloco);
        StateHasChanged();
    }

}
